<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./styles/nav_bar.css" />
  <link
    href="https://fonts.googleapis.com/css2?family=Bungee&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Sans+Pro:ital,wght@0,300;0,600;1,300;1,600&display=swap"
    rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Bungee&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Raleway:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Sans+Pro:ital,wght@0,300;0,600;1,300;1,600&display=swap"
    rel="stylesheet">

</head>


<header>
  <nav id="navbar" class="navbar">
    <div class="parent-nav">
      <a class="navbar-brand" href="/">LonelyBooks</a>
      <a class="navbar-home" href="/">
        <i class="fa-solid fa-house-user"></i>
      </a>
      <a class="navbar-search" href="/search">
        <i class="fa-solid fa-magnifying-glass"></i>
      </a>



      <% if (username) { %>
        <!-- login state -->

        <a class="navbar-font-family" id="navbar-order" href="/orders">Order History</a>
        <a class="navbar-font-family" id="navbar-my-list" href="/listings">My Listings</a>
        <a class="navbar-font-family" id="navbar-my-list" href="/my_listing_form/myLists">Create Listing</a>

        <a class="navbar-message" href="/message">
          <i class="fa-solid fa-message"></i>
        </a>

        <a class="navbar-cart" href="/cart">
          <i class="fa-solid fa-bag-shopping"></i>
        </a>

        <a class="navbar-cart" href="/favourites">
          <i class="fa-solid fa-heart"></i>
        </a>

        <h5 id="greeting-username">Hi, <%= username %>!</h5>

        <form method="POST" action="/logout">
          <button id="logout-button" type="submit">Logout</button>
        </form>

        <% } else { %>
          <!-- logout state-->
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="navbar-font-family" id="navbar-login" href="/login">Log In</a>
              <a class="navbar-font-family" id="navbar-register" href="/register">Sign Up</a>
            </div>
            <% } %>
          </div>


  </nav>
</header>




</html>