<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Name of the website - Check Out</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">

<script src="../public/scripts/show.js"></script>
</head>
<body>

  <%- include('partials/_header') %>

<main>
<div><H1>Shopping Cart</H1></div>

<button>Check Out</button>
</main>
<footer>
  <!-- Footer missing -->
</footer>

</body>
</html>