body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  // align-items: center;
  min-height: 100vh;
 background-color: #faf6f6;

}

.favourite-red {
  color: #7d4f50;
}



#main-content {
  background-color: #faf6f6;
  padding-top: 50px;
}

.parent-nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #aa998f;
  position: fixed;
}

a:visited {
  color: inherit;
}

header {
  width: 100vw;
}