#main-parent {
  background-color: #aa998f;
  width: 100%;
  // margin-top: 1%;
  margin: 0;
}

#page-title {
  font-family: Montserrat Alternates;
  font-weight: 800;
  font-size: xx-large;
  padding-bottom: 2%;
}

.button-show {
  font-family: Nunito;
  font-size: smaller;
  font-weight: 300;
  padding: 1em 0.5em;
  background-color: #484242;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 0.5%;
}



